*{
	margin:0px ;
	padding:0px;
}
body{
	background-color:#f3f3f3;
}
#center_content{
	margin-top:-15px;
	min-height: 85%;
	
}
.linkstyle{
	color:#666666;
	text-decoration:none;
}
.linkstyle:hover{
	color:#555555;
	cursor:pointer;
}
.textitem{
	font-size:13px;
	
}

.test{
	border:1px solid red;
}
body{
	position:relative;
}
html, body {height: 100%;}

#routerinfo div span{
	display:inline-block;
	 margin-top:10px;
}

#clientinfos tbody tr td{
	height:40px;
	line-height:40px;
}
#clientinfos  thead{
	font-size:11px;
}
#clientinfos tbody tr:hover{
	cursor:pointer;
	background-color:#f0f0f0;
}








 .dropdown-submenu {  
            position: relative;  
        }  
        .dropdown-submenu > .dropdown-menu {  
            top: 0;  
            left: 100%;  
            margin-top: -6px;  
            margin-left: -1px;  
            -webkit-border-radius: 0 6px 6px 6px;  
            -moz-border-radius: 0 6px 6px;  
            border-radius: 0 6px 6px 6px;  
        }  
        .dropdown-submenu:hover > .dropdown-menu {  
            display: block;  
        }  
        .dropdown-submenu > a:after {  
            display: block;  
            content: " ";  
            float: right;  
            width: 0;  
            height: 0;  
            border-color: transparent;  
            border-style: solid;  
            border-width: 5px 0 5px 5px;  
            border-left-color: #ccc;  
            margin-top: 5px;  
            margin-right: -10px;  
        }  
        .dropdown-submenu:hover > a:after {  
            border-left-color: #fff;  
        }  
        .dropdown-submenu.pull-left {  
            float: none;  
        }  
        .dropdown-submenu.pull-left > .dropdown-menu {  
            left: -100%;  
            margin-left: 10px;  
            -webkit-border-radius: 6px 0 6px 6px;  
            -moz-border-radius: 6px 0 6px 6px;  
            border-radius: 6px 0 6px 6px;  
        }  