*{
	margin:0px ;
	padding:0px;
}
body{
	background-color:#f3f3f3;
}
#center_content{
	margin-top:-15px;
	min-height: 85%;
	
}
.linkstyle{
	color:#666666;
	text-decoration:none;
}
.linkstyle:hover{
	color:#555555;
	cursor:pointer;
}
.textitem{
	font-size:13px;
	
}

.test{
	border:1px solid red;
}
body{
	position:relative;
}
html, body {height: 100%;}

#routerinfo div span{
	display:inline-block;
	 margin-top:10px;
}

#clientinfos tbody tr td{
	height:40px;
	line-height:40px;
}
#clientinfos  thead{
	font-size:11px;
}
#clientinfos tbody tr:hover{
	cursor:pointer;
	background-color:#f0f0f0;
}